/data/*
!/data/example
!/data/example/*
!.gitkeep
__pycache__/
.idea/
experiments/results/*/
*.egg-info
env/
target/
experiments_data/*
.env
images/random.excalidraw.png
flamegraph.svg
perf.data
perf.data.old
.vscode
index_dump/
.agents/
